<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}' class="scroll-smooth">
{{ partial "head" . }}

<body>
{{- partial "dev/dev-tools" . -}}

<div class="drawer lg:drawer-open">
    <input id="drawer" type="checkbox" class="drawer-toggle">
    <div class="drawer-content flex flex-col overflow-y-scroll bg-gray-100/50">
        {{- partial "header" . -}}
        {{- block "main" . }}{{- end }}
        {{- partial "footer" . -}}
    </div>
    {{- partial "sidebar" . -}}
</div>

{{- partial "utils/scripts" . -}}
</body>

</html>