{{ define "main" }}

{{ $type := dict 
    "categories" (dict "source" site.Data.category "icon" "lucide-folder")
    "tags" (dict "source" site.Data.tags "icon" "lucide-tag")
}}

<article class="flex-1 overflow-visible p-4 lg:p-6">
    <div class="card items-center justify-center xl:flex-row bg-base-100">
        <div class="card-body items-center w-full max-w-7xl p-8 pt-12">
            <div class="card-title items-center mb-8 text-4xl">
                <span>
                    {{ $_type := index $type .Type }}
                    {{ $item := index $_type.source .Name }}
                    <!--@formatter:off-->
                    {{ partial "utils/icon" (dict "name" ($item.icon | default $_type.icon) "class" "h-10 w-10 stroke-current")}}
                    <!--@formatter:on-->
                </span>
                <h3>{{ $item.display | default .Title }}</h3>
            </div>

            {{ if eq .Kind "taxonomy" }}
            <div class="mb-6 flex items-center space-x-2 justify-center">
                <div class="p-4 overflow-scroll flex flex-wrap gap-3">
                    {{ range .Pages }}
                    {{ $item := index $_type.source .Name }} 
                    <a class="btn btn-ghost rounded-full transition-all duration-200 border-neutral/5 dark:border-neutral border-2 hover:-translate-y-1 hover:text-primary hover:shadow hover:bg-base-200 {{ if $item.background }}dark:text-primary-content" style="background: {{ $item.background | safeCSS }}"{{ else }}dark:text-neutral-content"{{end}} href="{{ .Permalink }}" >
                        {{ if $item }}
                        <!--@formatter:off-->
                        {{ partial "utils/icon" (dict "name" ($item.icon | default $_type.icon) "class" "inline-block h-4 w-4 md:h-6 md:w-6") }}
                        <!--@formatter:on-->
                        {{ end }}
                        {{ .Title }}<div class="badge">{{ len .Pages }}</div>
                    </a>
                    {{ end }}
                </div>
            </div>


            {{ else if eq .Kind "term" }}
            <div
                class="card-body w-full h-full p-4 overflow-scroll grid grid-cols-2 gap-4 md:grid-cols-3 xl:grid-cols-4 xl:gap-x-6 2xl:grid-cols-5 ">
                {{ partial "component/nav-block-item" (dict "name" .Name "basis" .Type ) }}
            </div>
            {{ end }}

        </div>
    </div>
</article>
{{- partial "component/scrolltop" -}}
{{ end }}