{{ define "main" }}
    <article class="flex-1 overflow-visible p-4 lg:p-6">
        <div class="card items-center justify-center xl:flex-row bg-base-100">
            <div class="card-body items-center w-full max-w-7xl p-8 pt-12">
                <div class="card-title items-center mb-4">
                    {{ if eq .Params.internal false }}
                        <div class="avatar rounded-full w-10 h-10 sm:w-12 sm:h-12 ">
                            <!--@formatter:off-->
                            {{ partial "utils/favicon" (dict "url" .Params.link "favicon" .Params.favicon "class" "rounded-full object-contain" "alt" .Title) }}
                            <!--@formatter:on-->
                        </div>
                    {{ end }}
                    <h1 class="text-4xl ">{{ .Title }}</h1>
                </div>
                <div class="mb-6 flex items-center space-x-2 justify-center">
                    <ul class="mx-2 flex flex-wrap justify-center">
                        {{ if eq .Params.internal true }}
                            <li class="mx-2 my-2 inline-flex items-center">
                                <!--@formatter:off-->
                                {{ partial "utils/icon" (dict "name" "lucide-circle-user" "class" "h-5 w-5 stroke-current")}}
                                <!--@formatter:on-->
                                <span class="ml-2"> {{ .Params.author | default .Site.Params.author | default "Administrator" }}</span>
                            </li>
                            <li class="mx-2 my-2 inline-flex items-center">
                                <!--@formatter:off-->
                                {{ partial "utils/icon" (dict "name" "lucide-calendar-days" "class" "h-5 w-5 stroke-current")}}
                                <!--@formatter:on-->
                                <span class="ml-2">{{ .Date.Format "2006, 01-02" }}</span>
                            </li>
                            <li class="mx-2 my-2 inline-flex items-center">
                                <!--@formatter:off-->
                                {{ partial "utils/icon" (dict "name" "lucide-clock" "class" "h-5 w-5 stroke-current")}}
                                <!--@formatter:on-->
                                <span class="ml-2">{{ .ReadingTime }} Mins read</span>
                            </li>
                        {{ else }}
                            {{ if .Params.rating }}
                                <li class="mx-2 my-2 inline-flex items-center justify-center">
                                    <!--@formatter:off-->
                                    {{ partial "utils/icon" (dict "name" "lucide-flag" "class" "h-5 w-5 mr-1 stroke-current")}}
                                    <!--@formatter:on-->
                                    {{ partial "utils/rating" (dict "rating" .Params.rating | default 3.5) }}
                                    <span>({{ .Params.rating }})</span>
                                </li>
                            {{ end }}
                        {{ end }}
                        {{ if .Params.tags }}
                            <li class="mx-2 my-2 inline-flex items-center justify-center">
                                {{ if eq .Params.internal true }}
                                    <!--@formatter:off-->
                                    {{ partial "utils/icon" (dict "name" "lucide-tags" "class" "h-5 w-5 mr-1 stroke-current")}}
                                    <!--@formatter:on-->
                                    <div class="ml-2 flex items-center">
                                        {{ $len := len (.GetTerms "tags") }}
                                        {{ range $index, $tag := .GetTerms "tags" }}
                                            {{ $tag := index site.Data.tags .Name }}
                                            <a class="hover:text-primary" href="{{ .RelPermalink }}">
                                                {{ .LinkTitle }}{{ if ne $index (sub $len 1) }}、{{ end }}
                                            </a>
                                        {{ end }}
                                    </div>
                                {{ else }}
                                    <div class="ml-2 flex items-center">
                                        {{ range .GetTerms "tags" }}
                                            {{ $tag := index site.Data.tags .Name }}
                                            <a class="badge gap-2 mr-2 py-3 hover:text-primary hover:border-primary" href="{{ .RelPermalink }}">
                                                <!--@formatter:off-->
                                                {{ partial "utils/icon" (dict "name" ($tag.icon | default "lucide-tag") "class" "inline-block h-4 w-4") }}
                                                <!--@formatter:on-->
                                                {{ .LinkTitle }}</a>
                                        {{ end }}
                                    </div>
                                {{ end }}
                            </li>
                        {{ end }}
                    </ul>
                </div>
                <div class="prose md:prose-base w-full max-w-4xl flex-grow pt-10">
                    {{ if .Content }}
                        {{ .Content | safeHTML }}
                    {{ else }}
                        {{ if .Params.description }}
                            <p class="text-xl leading-loose text-base-content flex items-start">
                                {{ partial "utils/icon" (dict "name" "/images/quote.png" "class" "!my-0 h-12 w-12") }}
                                {{ .Params.description }}
                            </p>
                        {{ end }}
                    {{ end }}
                </div>

                <div class="btm-bar py-8">
                    <div class="flex justify-center">
                        <ul class="menu menu-horizontal rounded-box bg-base-200 bg-opacity-50 glass transition-all duration-500">
                            <!-- 默认显示的菜单项 -->
                            <li>
                                <a class="tooltip flex" data-tip="查看评论">
                                    <!--@formatter:off-->
                                    {{ partial "utils/icon" (dict "name" "lucide-message-circle-more" "class" "stroke-current")}}
                                    <!--@formatter:on-->
                                    <span class="hidden">评论</span>
                                </a>
                            </li>

                            <li>
                                <a class="tooltip flex" data-tip="加入收藏夹">
                                    <!--@formatter:off-->
                                    {{ partial "utils/icon" (dict "name" "lucide-star" "class" "stroke-current")}}
                                    <!--@formatter:on-->
                                    <span class="hidden">收藏</span>
                                </a>
                            </li>

                            {{ if ne .Params.internal true }}
                                <li>
                                    <a class="tooltip flex" data-tip="立即访问" href="{{ .Params.link }}"
                                       target="_blank">
                                        <!--@formatter:off-->
                                        {{ partial "utils/icon" (dict "name" "lucide-navigation" "class" "stroke-current")}}
                                        <!--@formatter:on-->
                                        <span class="hidden">访问</span>
                                    </a>
                                </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
                <div class="btm-indicator h-0 w-0"></div>
            </div>
        </div>
    </article>
    {{- partial "component/scrolltop" -}}
{{ end }}