<div class="grid mt-4 grid-cols-1 gap-4 md:grid-cols-5 lg:gap-8">
    <div class="card w-full p-5 bg-base-100 shadow-sm hidden md:block md:col-span-2">
        <div class="flex items-center justify-between card-title text-gray-700">
            <button class="btn btn-sm btn-ghost font-medium no-animation">
                <!--@formatter:off-->
                {{ partial "utils/icon" (dict "name" "lucide-flag" "class" "inline-block h-4 w-4 stroke-current md:h-6 md:w-6") }}
                <!--@formatter:on-->
                Hot
            </button>
        </div>
        <div class="card-body w-full h-56 p-4 overflow-scroll">
            <div class="overflow-x-hidden overflow-y-scroll">
                <table class="table w-full">
                    <tbody>
                    <tr>
                        <td class="flex">
                            <div class="badge badge-neutral rounded-full mr-2">1</div>
                            <a class="truncate animate-pulse skeleton w-36"></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="flex">
                            <div class="badge badge-primary rounded-full mr-2">2</div>
                            <a class="truncate animate-pulse skeleton w-36"></a></td>
                    </tr>
                    <tr>
                        <td class="flex">
                            <div class="badge badge-secondary rounded-full mr-2">3</div>
                            <a class="truncate animate-pulse skeleton w-56"></a></td>
                    </tr>
                    <tr>
                        <td class="flex">
                            <div class="badge badge-accent rounded-full mr-2">4</div>
                            <a class="truncate animate-pulse skeleton w-56"></a></td>
                    </tr>
                    <tr>
                        <td class="flex">
                            <div class="badge badge-ghost rounded-full mr-2">5</div>
                            <a class="truncate animate-pulse skeleton w-56"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card w-full p-5 bg-base-100 shadow-sm col-span-1 md:col-span-3">
        <div class="flex items-center justify-between card-title text-gray-700">
            <button class="btn btn-sm btn-ghost font-medium no-animation">
                <!--@formatter:off-->
                {{ partial "utils/icon" (dict "name" "lucide-archive" "class" "inline-block h-4 w-4 stroke-current md:h-6 md:w-6") }}
                <!--@formatter:on-->
                Tools
            </button>
        </div>
        <div class="card-body w-full h-56 p-4 overflow-scroll grid grid-cols-3 gap-4 sm:grid-cols-4 lg:grid-cols-4 lg:gap-4 xl:grid-cols-5 xl:gap-x-8 2xl:grid-cols-6">
            {{ range $index, $item := .Site.Data.box }}
                <div class="flex flex-col items-center justify-center gap-y-2">
                    <a class="btn btn-circle btn-outline btn-lg border-0 shadow-sm"
                       style="background: {{ $item.background | safeCSS }}" href="{{ $item.url | safeURL }}"
                       target="_blank" title="{{ $item.name }}">
                        <!--@formatter:off-->
                        {{ partial "utils/icon" (dict "name" $item.icon "class" "inline-block text-white h-8 w-8 stroke-current") }}
                        <!--@formatter:on-->
                    </a>
                    <label class="truncate w-full text-center lg:text-sm">{{ $item.name }}</label>
                </div>
            {{ end }}
        </div>
    </div>
</div>