<footer class="footer footer-center text-base-content/80 py-5">
    <aside class="">
        <div class="flex flex-col items-center justify-center mb-4">
            <!--@formatter:off-->
            {{ partial "utils/favicon" (dict "favicon" .Site.Params.favicon "class" "h-12 w-12") }}
            <!--@formatter:on-->
        </div>


        <div class="prose prose-sm">
            {{ if .Site.Params.SiteDesc }}
            <p class="flex text-lg px-8">
                <!--@formatter:off-->
                {{ partial "utils/icon" (dict "name" "lucide-quote" "class" "transform scale-x-[-1] h-4 w-4 mr-1") }}
                <!--@formatter:on-->
                <span {{ with .Site.Params.Hitokoto }} {{ if .enable }} class="hitokoto"
                    data-category='{{ delimit .category "," }}' {{ end }} {{ end }}>
                    {{ .Site.Params.SiteDesc }}</span>
            </p>
            {{ end }}

            <p>© <time>{{ now.Format "2006" }}</time> {{ .Site.Params.SiteName | default "ITEM" }}.
                {{ range .Site.Params.footer }}
                <a href="{{ .url | relURL }}">{{ .name }}. </a>
                {{ end }}
            </p>
        </div>

    </aside>
</footer>