<div id="sidebar"
     class="drawer-side z-30 no-scrollbar shadow-sm lg:max-w-64 lg:transition-all lg:duration-500 lg:ease-in-out ">
    <label for="drawer" class="drawer-overlay min-h-screen" aria-label="Close menu"></label>
    <aside class="bg-base-100 min-h-screen w-64">
        <div data-sveltekit-preload-data=""
             class="bg-base-100 sticky top-0 z-20 hidden items-center gap-2 bg-opacity-90 px-4 py-2 backdrop-blur lg:flex ">
            <a href="{{ .Site.BaseURL | relURL }}" aria-current="page" aria-label="Homepage" class="flex-0 btn btn-ghost px-2">
                <!--@formatter:off-->
                {{ partial "utils/icon" (dict "name" "images/favicon.png" "class" "h-6 w-6") }}
                <!--@formatter:on-->
                <div class="font-title inline-flex font-serif from-neutral-700 text-xl md:text-2xl">{{ .Site.Title }}</div>
            </a>
        </div>
        <div class="h-4"></div>

        <ul class="menu menu-custom menu-md px-4 py-0 !select-none">
            {{ range $index, $item := .Site.Data.navigate }}
            <li>
                {{ if $item.children }}
                <details>
                    <summary class="group">
                                <span>
                                    <!--@formatter:off-->
                                    {{ partial "utils/icon" (dict "name" $item.icon "class" "w-5 h-5") }}
                                    <!--@formatter:on-->
                                </span>
                        {{ .name }}
                    </summary>
                    <ul>
                        {{ range $child := $item.children }}
                        <li>
                            {{- if $.IsHome -}}
                            <a class="group" href="#{{ $child.name | urlize }}">{{ $child.name }}</a>
                            {{- else -}}
                            <a class="group" onclick="handleToHome('{{ $child.name | urlize }}')">{{ $child.name }}</a>
                            {{- end -}}
                        </li>
                        {{ end }}
                    </ul>
                </details>
                {{ else }}
                {{- if $.IsHome -}}
                <a class="group" href="#{{ $item.name | urlize }}">
                    {{- else -}}
                    <a class="group" onclick="handleToHome('{{ $item.name | urlize }}')">
                        {{- end -}}
                        <span>
                            <!--@formatter:off-->
                            {{ partial "utils/icon" (dict "name" $item.icon "class" "h-5 w-5") }}
                            <!--@formatter:on-->
                        </span>
                        {{ $item.name }}
                    </a>
                    {{ end }}
            </li>
            {{ end }}
            <li></li>
            <li>
                <a class="group" href="#" target="_blank" rel="noopener noreferrer">
                    <!--@formatter:off-->
                    {{ partial "utils/icon" (dict "name" "lucide-heart" "class" "w-5 h-5") }}
                    <!--@formatter:on-->
                    <span>示例</span>
                    <!--@formatter:off-->
                    {{ partial "utils/icon" (dict "name" "lucide-share" "class" "opacity-0 transition-opacity duration-300 ease-out group-hover:opacity-100") }}
                    <!--@formatter:on-->
                </a>
            </li>
            <li>
                <a class="group" href="#" target="_blank" rel="noopener noreferrer">
                    <!--@formatter:off-->
                    {{ partial "utils/icon" (dict "name" "lucide-github" "class" "w-5 h-5") }}
                    <!--@formatter:on-->
                    <span>GitHub</span>
                    <!--@formatter:off-->
                    {{ partial "utils/icon" (dict "name" "lucide-share" "class" "opacity-0 transition-opacity duration-300 ease-out group-hover:opacity-100") }}
                    <!--@formatter:on-->
                </a>
            </li>
        </ul>
        <div class="bg-base-100 pointer-events-none sticky bottom-0 flex h-40 [mask-image:linear-gradient(transparent,#000000)]"></div>
    </aside>

</div>